@page
@model PancilDelivery.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
<section class="product">
    <div class="products=category">
        <h3 class="category-title">Каталог товаров</h3>
        <nav class="category-navigation">
            @foreach (var category in Model.Category)
            {
                <a class="category-link">
                    <img src="@Html.DisplayFor(item=>category.IconUrl)" />

                    <p>@Html.DisplayFor(item=>category.Name)</p>
                </a>
     }
        </nav>
    </div>
    <dib class="products-list">
        @foreach (var product in Model.Product)
        {
            <article class="prosuct-card">
                <img class="card-image" src="" />
                <p class="card-rating">@Html.DisplayFor(item=> product.Rating)</p>
                <p class="card-title">@Html.DisplayFor(item => product.Title)</p>
                <p class="card-volum">@Html.DisplayFor(item => product.Volume)</p>
                <span>
                    <p class="card-price">@Html.DisplayFor(item => product.PricePerUnit)</p>
                    <p class="card-unit">@Html.DisplayFor(item => product.Unit.Name)</p>
                </span>
                <button class="card-button">В корзину</button>
            </article>
        }
    </dib>
</section>
